.Username{
    font-size: 20px;
    padding:5px 10px;

    span{
        font-family:inherit;
        margin-left:5px;
    }

    i{
        display:inline-block;
        cursor: pointer;
        margin-left: .5rem;
        height:4.5rem;
        line-height: 4.5rem;
        width:4.5rem;
        text-align: center;
        font-size: 1.7rem;
        color:var(--black);
        border-radius: 50%;
        background: #eee;

         &:hover{
            color:#fff;
            background: var(--green);
        }
    }


}