.OrderSummary{
    font-size: 16px;
    height: 500px;
    overflow: auto;

    .ImageContainer{
        width:100px;
        height:100px;

        img{
            width:100%;
        }
    }

    table{
        width: 100%;
        tbody{
            height: 400px !important;
        }
    }

    .ModalFooter{
       
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding:10px;

            p{
                display: flex;
                justify-content: center;
                align-items: center;
            }

    }

    
    }
   